.box{
    padding: 10px 10px;
    background-color: rgb(223, 223, 223);
}
.box h5{
    font-size: 18px; 
} 

.footer{
    background-color: red !important;
}

// .tophead-news{
//     border: 1px solid black;
// }