<ngx-loading-bar [color]="'#000000'" [includeSpinner]="false"></ngx-loading-bar>
<nav class="page-header navbar navbar-expand-lg bg-light bg-dark">
  <div class="container-fluid">
    <a class="text-white page-header__news-title navbar-brand" routerLink="">Новости</a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="text-white nav-link" aria-current="page" routerLink="">Главные новости</a>
        </li>
        <li class="nav-item">
          <a class="text-white nav-link" aria-current="page" routerLink="tech">Технологии</a>
        </li>
        <li class="nav-item">
          <a class="text-white nav-link" aria-current="page" routerLink="business">Бизнес</a>
        </li>
      </ul>
    </div>
  </div>
</nav> 
<router-outlet></router-outlet>
<footer>
  <div class="footer d-flex bg-dark">
  </div>
</footer>